<footer id="footer">
  <div id="footer-content">
    <div class="footer-section">
      <h3 class="footer-section-title">General</h3>
      <div class="footer-section-links">
        <a href="https://www.youtube.com/c/Hyperplexed" target="_blank"
          >Directory</a
        >
        <a href="index.html#about" target="_blank">About us</a>
        <a href="https://www.youtube.com/c/Hyperplexed" target="_blank"
          >Contact us</a
        >
      </div>
    </div>
    
    <div class="footer-section">
      <h3 class="footer-section-title">Legal</h3>
      <div class="footer-section-links">
        <a href="privacy.html" target="_blank">Privacy</a>
        <a href="terms.html" target="_blank">Terms and conditions</a>
        <a href="coockies.html" target="_blank">Cookies</a>
      </div>
    </div>
  </div>
</footer>
